.Table {
    flex: 4;
  }
  
  .tableTitleContanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tableAddBotton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-align:center;
    font-size: 16px;
  }
  
  .tableContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .tableShow {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .tableUpdate {
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }
  
  .tableShowTop {
    display: flex;
    align-items: center;
  }
  
  .showtableImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .tableShowTopTittle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .tableShowUserName {
    font-weight: 600;
  }
  
  .tableShowUserTitle {
    font-weight: 300;
  }
  
  .tableShowBottom {
    margin-top: 20px;
  }
  
  .tableShowTitle {
    font-size: 16px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .tableShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
  }
  
  .tableShowIcon {
    font-size: 16px !important;
  }
  
  .tableShowInfoTitle {
    margin-left: 10px;
  }
  
  .tableUpdateTitle {
    font-size: 24px;
    font-weight: 600;
  }
  
  .tableUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .tableUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .tableUpdateItem > label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .tableUpdateInput {
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
  }
  
  .tableUpdateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .tableUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .tableUpdateImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .tableUpdateIcon {
      cursor: pointer;
  }
  
  .tableUpdateButton {
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
  }