.TableList {
    flex: 4;
}

.TableListTable {
    display: flex;
    align-items: center;
    text-align: center;
}

.TableListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.TableListEdit {
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin: 20px;
}

.TableListDelete {
    color: red;
    cursor: pointer;
}

.TableAddBotton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-align:center;
    font-size: 16px;
    margin-left: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }